.game {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game__table {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}