.game {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  margin: 0 auto;
}

.game__header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.game__board {
  width: 100%;
  border: 1px solid black;
}

.game__buttons {
  margin-top: 2rem;
}

.dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dealer__hand {
  width: 20%;
}

.game__players {
  display: flex;
  justify-content: space-evenly;
}

.dealer {
  min-height: 100px;
}

.player {
  padding: 2rem 0;
  min-width: 200px;
}

.player__header {
  text-align: center;
  margin-bottom: 1rem;
}

.player__money {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}